section.content
    article
        h1 Unique Style 
        hr
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        hr
        
        .clothes-pics
            .row.img-row
                figure.columns.four
                    img(src="/assets/img/model1.jpg")
                    figcaption BlackBird Sweather 
                        strong $135
                figure.columns.four
                    img(src="/assets/img/model2.jpg")
                    figcaption BlackBird Trousers 
                        strong $200
                figure.columns.four 
                    img(src="/assets/img/model3.jpg")
                    figcaption BlackBird Jacket 
                        strong $280
                    
            .row.img-row
                figure.columns.four
                    img(src="/assets/img/model3.jpg")
                    figcaption BlackBird Jacket 
                        strong $280
                figure.columns.four
                    img(src="/assets/img/model1.jpg")
                    figcaption BlackBird Sweather 
                        strong $135
                figure.columns.four
                    img(src="/assets/img/model2.jpg")
                    figcaption BlackBird Trousers 
                        strong $200
                    
            .row.img-row
                figure.columns.four
                    img(src="/assets/img/model2.jpg")
                    figcaption BlackBird Trousers 
                        strong $200
                figure.columns.four
                    img(src="/assets/img/model3.jpg")
                    figcaption BlackBird Jacket 
                        strong $280
                figure.columns.four
                    img(src="/assets/img/model1.jpg")
                    figcaption BlackBird Sweather 
                        strong $135
                    
                    
        h1 Fine Tayloring
        hr
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        hr
        
        .large-window
            .window-tint
                .promo-text Fall Suits
                    strong 
                        span from 
                        |99$
                    a(href="#").window-cta Shop Now
        
        
        h1 Rich History
        hr
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        hr
        
        .blog-posts.row
            .post.columns.four.post-1
                h5 Post Title
                img(src="/assets/img/posts/one.jpg")
                p Lorem ipsum dolor sit amet, consectetur 
                p: a.button(href="#") Read More
                
            .post.columns.four.post-2
                h5 Post Title
                img(src="/assets/img/posts/two.jpg")
                p Lorem ipsum dolor sit amet, consectetur 
                p: a.button(href="#") Read More
                
            .post.columns.four.post-3
                h5 Post Title
                img(src="/assets/img/posts/three.jpg")
                p Lorem ipsum dolor sit amet, consectetur 
                p: a.button(href="#") Read More
                
                
footer
    .row.footer-stuff
        .columns.three
            strong FIND US ON
            ul
                li: a(href="") Twitter
                li: a(href="") Facebook
                li: a(href="") Pinterest
                li: a(href="") Instagram
        .columns.three
            strong OTHER SHOPS
            ul
                li: a(href="") Red Robin
                li: a(href="") Emerald Eagle
                li: a(href="") Crimsnon Crane
                li: a(href="") Auburn Abbot

        .columns.six
            p 
                strong Sing Up fort the newsletter 
                |lorem dsiahdas dhasiuhduasi ushdiuashduiasd jdhuiasf dfsfaf
            form.row
                .columns.eight
                    input.u-full-width(type="email" placeholder="Your Email")
                .columns.four
                    input.button-primary(type="submit")
            
                
                
                
               
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
    

                
                
                
                
                
                
                
                
                
                    
    
    